<section class="header1 cid-qyvcqB36eR" id="header1-0" data-rv-view="7258">
  <div class="container">
    <div class="row justify-content-md-center">
      <div class="mbr-white col-md-10"></div>
    </div>
  </div>
</section>

<section class="features1 cid-qyvcAqZyNq" id="features1-1" data-rv-view="7261">
  <div class="container">
    <div class="media-container-row">
      <div class="row">
        >
        <div class="card p-3 col-sm-4 col-md-4 col-lg-4">
          <div class="card-img pb-3">
            <span
              class="mbr-iconfont mbri-users"
              style="color: rgb(0, 0, 0);"
              media-simple="true"
            ></span>
          </div>
          <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5">
              Creativity
            </h4>
            <p class="mbr-text mbr-fonts-style display-7">
              Mobirise is an easy website builder - just drop site elements to
              your page, add content and style it to look the way you like.
            </p>
          </div>
        </div>

        <div class="card p-3 col-sm-4 col-md-4 col-lg-4">
          <div class="card-img pb-3">
            <span
              class="mbr-iconfont mbri-globe"
              style="color: rgb(0, 0, 0);"
              media-simple="true"
            ></span>
          </div>
          <div class="card-box">
            <h4 class="card-title py-3 mbr-fonts-style display-5">
              Worldwide
            </h4>
            <p class="mbr-text mbr-fonts-style display-7">
              All sites you make with Mobirise are mobile-friendly. You don't
              have to create a special mobile version of your site.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
