.cid-qyvcqB36eR {
  padding-top: 135px;
  padding-bottom: 135px;
  background-image: url(../../assets/images/hjonas.jpg);
}
.cid-qyvcAqZyNq {
  padding-top: 90px;
  padding-bottom: 90px;
  background-color: #ffffff;
}
section {
  background-position: 50% 35%;
  background-repeat: no-repeat;
  background-size: cover;
}

.card {
  background-color: transparent;
  border: none;
}

.card-img {
  width: auto;
}

.card-img {
  text-align: center;
  flex-shrink: 0;
}

.pb-3 {
  padding-bottom: 1rem!important;
}
